
{% extends "base.html" %}

	{% block content %}
	{% load crispy_forms_tags %}
	<br><br>
	<div class="container mx-auto">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	<div class="card p-4">
			    	<h4 class="card-title font-weight-bold text-center">Hello, {{ user.username|title }}</h4>
			      	<hr>
			    	<div class="card-text">
			    		<p class="text-muted mb-0" style="font-size: 12px">Username:</p>
			    		<p>{{ user.username }}</p>
			    		<p class="text-muted mb-0" style="font-size: 12px">Name:</p>
				  		<p>{{ user.firstName }} {{ user.lastName }}</p>
				  		<p class="text-muted mb-0" style="font-size: 12px">Accounts:</p>
				  		<p>{{ user.accounts }} </p>
						
		    	  </div>
		  	 </div>
				</div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
		    	<div class="row">
		    		<div class="col-6 my-auto">
		    			<h2 class="font-weight-bold pt-4"> Accounts </h2>
		    		</div>
		     </div> 
				 <br>
				  <div class="row">
							{% for account in accounts %}
							<div class="col-sm-12 col-md-6 col-lg-4 pb-4">
											<div class="h-100">
												<div class="card-body">
														<h5 class="card-title">{{account.balance }}</h5>
														<p class="card-text text-muted" style="font-size:12px">{{account.owner }}</p>
                            <p>{{ account.accountNumber}}</p>
												</div>
											</div>
									</div>
							{% endfor %}
				  </div>

          <div class="row">
            {% for card in cards %}
            <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                    <div class="h-100">
                      <div class="card-body">
                          <h5 class="card-title">{{ card.ownerName}}</h5>
                          <p>{{ card.ownerAcount}}</p>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
	      </div>
		</div>
  </div>

	{% endblock %}

    
